body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.chat-box {
  display: block;
  position: absolute;
  width: 300px; /* Reducir el ancho de los recuadros de chat */
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.message-area {
  height: 150px; /* Establecer una altura fija para el área de mensajes */
  overflow-y: auto; /* Permitir el desplazamiento vertical */
  padding: 10px;
  word-wrap: break-word;
}

.message {
  max-width: 200px; /* Reducir el ancho máximo de los mensajes */
  word-wrap: break-word;
}

.message.incoming {
  align-self: flex-start;
}

.message.outgoing {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.user-input {
  width: calc(100% - 70px);
  padding: 10px;
  border: none;
  border-top: 1px solid #ccc;
  resize: none;
  font-size: 14px; /* Reducir el tamaño del texto en el área de entrada */
}

.send-btn {
  width: 70px;
  padding: 10px;
  border: none;
  border-left: 1px solid #ccc;
  background-color: #f1f0f0;
  cursor: pointer;
  font-size: 14px; /* Reducir el tamaño del texto en el botón de enviar */
}

.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}
.chat-name {
  background-color: #c4c4c4;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 0 0 10px 10px; /* Bordes redondeados en la parte superior */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#loginBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}