body {
    background-color: #121212; /* Color de fondo oscuro */
    color: #ffffff; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333; /* Color de fondo del encabezado */
    color: #ffffff; /* Color del texto del encabezado */
    text-align: center;
    padding: 20px 0;
}

#chat {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 400px; /* Altura máxima del contenedor de mensajes */
    overflow-y: auto; /* Habilitar el desplazamiento vertical automático */
}

#messages li {
    margin-bottom: 5px; /* Reducir el espacio entre los mensajes */
    padding: 8px; /* Reducir el relleno de los mensajes */
    border-radius: 5px;
    max-width: 70%; /* Limitar el ancho máximo de los mensajes */
    word-wrap: break-word; /* Permitir que los mensajes se envuelvan si son demasiado largos */
}

#messages li.sent {
    background-color: #001a46; /* Color de fondo de mensajes enviados */
    color: #ffffff;
    align-self: flex-end;
    margin-left: auto; /* Alinear los mensajes enviados a la derecha */
}

#messages li.receive {
    background-color: #757575; /* Color de fondo de mensajes recibidos */
    color: #ffffff;
    margin-right: auto; /* Alinear los mensajes recibidos a la izquierda */
}

#message-form {
    display: flex;
    margin-top: 20px;
}

#message-input, #image-url-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#message-btn {
    background-color: #4caf50; /* Color de fondo del botón de enviar */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#messages li img {
    max-width: 100%; /* Establecer el ancho máximo de las imágenes al 100% del contenedor */
    height: auto; /* Permitir que la altura se ajuste automáticamente para mantener la proporción */
}
