body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
}

#login-container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
}

#login-container input[type="text"],
#login-container button {
    width: 100%; /* Ajustar al 100% del contenedor */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#login-container button {
    background-color: #2196F3; /* Azul */
    color: #ffffff; /* Texto blanco */
    cursor: pointer;
}

#app {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    display: none; /* Ocultar la aplicación al principio */
}

textarea {
    width: 97%;
    height: 70px; /* Ajusta el tamaño del textarea para dejar espacio para el botón */
    margin-bottom: 10px;
    background-color: #1f1f1f; /* Fondo del área de texto */
    color: #ffffff; /* Texto blanco */
    border: none;
    padding: 10px;
    border-radius: 5px;
    resize: none; /* Evita que el área de texto sea redimensionable */
}

button {
    background-color: #2196F3; /* Azul */
    color: #ffffff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1976D2; /* Azul más oscuro al pasar el cursor */
}

.post {
    background-color: #0d47a1; /* Azul oscuro para las publicaciones */
    border: 1px solid #1565c0; /* Borde de las cajas de publicaciones */
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative; /* Agregado para poder posicionar la marca de tiempo */
    border-radius: 5px;
    transition: opacity 0.5s ease; /* Transición de opacidad al aparecer una nueva publicación */
    opacity: 0; /* Inicialmente invisible */
}

.post.active {
    opacity: 1; /* Hacer la publicación visible al aparecer */
}

.timestamp {
    position: absolute;
    bottom: 5px; /* Posicionamiento en la esquina inferior */
    right: 5px; /* Posicionamiento en la esquina derecha */
    color: #ffffff; /* Texto blanco */
}

.comments {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #1565c0; /* Añadir una línea de separación para los comentarios */
}

.comment {
    background-color: #2e2e2e; /* Fondo del comentario */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.comment .timestamp {
    font-size: 0.8em;
    color: #cccccc; /* Color más claro para la marca de tiempo del comentario */
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    .post {
        padding-bottom: 80px; /* Espacio adicional para evitar la superposición */
    }

    .timestamp {
        bottom: 45px; /* Ajuste la posición para dispositivos móviles */
    }

    input[type="text"], button {
        width: calc(100% - 20px); /* Asegurar que los elementos de entrada y botón no se solapen con otros elementos */
        margin: 5px 10px; /* Espaciado para los elementos de entrada y botón */
    }
}